
 +-------------------------------------------------------------------------------------------------+
     \  |        |          / ___|| | __(_) | | ___   _ __   ___| |_    
    |\/ |   _ \  __|   _` | \___ \| |/ /| | | |/ __| | '_ \ / _ \ __|  |  Meta Theme for Drupal
    |   |   __/  |    (   |  ___) |   < | | | |\__ \_| | | |  __/ |_   |  Community Plumping
   _|  _| \___| \__| \__,_| |____/|_|\_\|_|_|_||___/_)_| |_|\___|\__|  |  -------------------------
   P u t t i n g  t h i n g s  o n  t o p  o f  o t h e r  t h i n g s !  By: Ken Collins
 +-------------------------------------------------------------------------------------------------+
                                                                                                */


  /*    IE PC Hacks (Support for IE 6.X) -- PAGE STRUCTURE
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */

 /*---    Overall Style Elements    ---*/

* html body {
  text-align: center;
  }


 /*---    MetaTools Header    ---*/


* html #metatools-bounding2 {
  text-align: left;
  }

* html body #metatools-bg_left {
  background: url('images/metatools-bg_left.gif') ;
  }

* html body #metatools-bg_middle {
  background: url('images/metatools-bg_middle.gif') ;
  }

* html body #metatools-bg_right {
  background: url('images/metatools-bg_right.gif') ;
  }

* html body #metatool-title {
  background: url('images/metatool-header.gif') ;
  }

* html #metatool-search .form-submit {
  left: -9999px;
  position: absolute;
  }

* html #metatools-bottom_spacing {
  display: none;
  }


 /*---    Master Bounding Boxes for Masthead & Content    ---*/

* html #masterbounding2 {
  height: 1%;
  padding-right: 0px;
  text-align: left;
  }


 /*---   Masthead Border, Background Image, Shadows, and Navigation Tabs    ---*/

* html #masthead-border {
  }

* html #masthead-border_left {
  background: url('images/masthead-left_bg2.gif') no-repeat 0 0 ;
  }

* html #masthead-border_top {
  }

* html #masthead-border_right {
  background: url('images/masthead-right_bg2.gif') no-repeat 100% 0 ;
  }


* html #masthead-image { 
  margin-right: 38px; /* 28 (not 27) more than 10, make up dif in pading for #masterbounding2 */
  }

* html #masthead-imageshdws_left {
  background: url('images/masthead-left.gif') no-repeat ;
  }

* html #masthead-imageshdws_right {
  background: url('images/masthead-right.gif') no-repeat ;
  }

* html #masthead-imageshdws-tt_middle {
  background: url('images/masthead-middle.gif') repeat-x ;
  }


* html #navigation-top li {
  background: url('images/nav-left.gif') no-repeat 0 100%;
  }

* html #navigation-top a {
  background: url('images/nav-right.gif') no-repeat 100% 100%;
  }

* html #navigation-top #nav-top_on {
  background: url('images/nav-left_on.gif') no-repeat 0 100%;
  }

* html #navigation-top #nav-top_on a {
  background: url('images/nav-right_on.gif') no-repeat 100% 100%;
  }


 /*---    Main Expanding Area    ---*/

* html #contentbgtop-left {
  background: url('images/contentbgtop-left.gif') repeat-y 0 0 ;
  }

* html #contentbgtop-right {
  right: 0px; /* not -27 */
  }


* html #contentarea-left {
  background: url('images/contentarea-left.gif') repeat-y 0 0 ;
  }

* html #contentarea-middle1 {
  margin-right: 258px; /* +27 */
  }

* html #contentarea-right1 {
  right: 0px; /* not -27 */
  }

* html #contentarea-right2 {
  position: relative; /* fixes top clipping of -20 margin */
  margin-left: 30px; /* since IE does not margin auto center divs */
  }


* html #contentbgbottom-right {
  right: 0px; /* not -27 */
  }


 /*---   Footer of Content Area    ---*/

* html #contentbgbottom-left {
  background: url('images/contentbgbottom-left.gif') no-repeat 0 0 ;
  }

* html #contentbgbottom-middle {
  background: url('images/contentbgbottom-middle.gif') repeat-x 0 0 ;
  }

* html #contentbgbottom-right {
  background: url('images/contentbgbottom-right.gif') no-repeat 0 0 ;
  }



  /*    IE PC Hacks (Support for IE 6.X) -- PAGE STYLE
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */

 /*---    General Text    ---*/

* html #contentarea-middle2 h1 {
  line-height: 1.1em;
  }

 /*---    Misc Table, Row, and Color Formatting    ---*/

* html #contentarea-middle2 table {
  width: auto;
  }

/*---    Photo Fancy Border (Bounding & Border Images)    ---*/

* html #contentarea-middle2 .photobounding {
  height: 1%;
  }

* html #contentarea-middle2 .photobounding .tl {
  display: none;
  }

* html #contentarea-middle2 .photobounding .tr {
  display: none;
  }

* html #contentarea-middle2 .photobounding .bl {
  display: none;
  }

* html #contentarea-middle2 .photobounding .br {
  display: none;
  }

* html #contentarea-middle2 .phototime {
  position: relative;
  height: 1% 
  }


 /*---    Galleries Index Page    ---*/

* html #contentarea-middle2 #galleries .preview {
  background: url('images/photoslide-bg-mtpl.gif') 0 0 no-repeat;
  }

* html #contentarea-middle2 #galleries .preview-desc {
  position: relative;
  margin-top: -14px;
  }

 /*---    Gallery Thumbnail Pages    ---*/

* html #contentarea-middle2 #gallery li {
  background: url('images/photoslide-bg.gif') 27px 0 no-repeat;
  }

 /*---    Category Links & Terms   ---*/

* html #contentarea-middle2 .links {
  margin-bottom: 1px;
  }


 /*---    User Comment Boxes    ---*/

* html #contentarea-middle2 .comment-box h3 {
  margin-bottom: 4px;
  }

* html #contentarea-middle2 .comment-box .comment-info {
  top: -3px;
  }

* html #contentarea-middle2 .comment-box .comment .br {
  background-image: url('images/null.gif');
  }

* html #contentarea-middle2 .comment-box .comment .bl {
  background-image: url('images/null.gif');
  }


 /*---    Messages - Status & Error   ---*/

* html #contentarea-middle2 .status {
  background-image: url('images/message-success.gif') ;
  }

* html #contentarea-middle2 .error {
  background-image: url('images/message-notification.gif') ;
  }


 /*---    VIMColor Module Customization    ---*/

* html div.codeblock {
  width: 488px;
  margin-left: 40px;
  }


 /*---    Fieldsets with Legends, Common Form Item DIVs, Submit Buttons, Etc.    ---*/

* html #contentarea-middle2 fieldset legend,
* html #contentarea-middle2 fieldset legend a,
* html #contentarea-middle2 fieldset legend a:link,
* html #contentarea-middle2 fieldset legend a:visited {
  display: inline;
  }

* html #contentarea-middle2 fieldset.collapsible legend a {
  background-color: #fcfafe;
  }

 /*---    Lists Style & Links    ---*/


* html #contentarea-right2 .content ul.menu {
 margin: 0 0 0 15px;
 padding-bottom: 0;
 }

* html #contentarea-right2 ul li a:active,
* html #contentarea-right2 ul li a:hover {
  background-image: url('images/null.gif') ;
  padding-right: 0;
  }

 /*---    More Content Links    ---*/

* html #contentarea-right2 .more-link {
  margin-top: 0 ;
  }

