
 +-------------------------------------------------------------------------------------------------+
     \  |        |          / ___|| | __(_) | | ___   _ __   ___| |_    
    |\/ |   _ \  __|   _` | \___ \| |/ /| | | |/ __| | '_ \ / _ \ __|  |  Meta Theme for Drupal
    |   |   __/  |    (   |  ___) |   < | | | |\__ \_| | | |  __/ |_   |  Community Plumping
   _|  _| \___| \__| \__,_| |____/|_|\_\|_|_|_||___/_)_| |_|\___|\__|  |  -------------------------
   P u t t i n g  t h i n g s  o n  t o p  o f  o t h e r  t h i n g s !  By: Ken Collins
 +-------------------------------------------------------------------------------------------------+
                                                                                                 */


* { list-style: none; margin: 0; padding: 0; }
img {  border: none; }

a { text-decoration: none; }
a, a:link, a:visited { border-bottom: 1px dotted #666; color: #f93; }
a:hover, a:active { color: #9c6; }

html, body { background: #fff url('images/background-grey.gif') repeat-x fixed top left }

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 62.6%;
	min-width: 420px;
	}

#message-box {
	left: 394px;
	position: absolute;
	top: 175px;
	z-index: 10;
	}

h2 {
	color: #9C0;
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 2.4em;
	font-weight: normal;
	line-height: 1em;
	text-transform: uppercase;
	width: 16em;
	margin-bottom: 4px;
	}

#message {
	width: 32em;
	font-size: 120%;
	font-family: Verdana, "Lucida Grande", Geneva, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	font-weight: normal;
	color: #333;
	letter-spacing: 0em;
	line-height: 1.5em;
	border-top: 1px dashed #666;
	padding-top: 5px;
	}

#drupal-logo {
	top: 22px;
	position: absolute;
	left: 31px;
	z-index: 5;
	}
		
